.main-deals{
    height: 28em;
    background-image: url(../images/man-person-sitting-playing.jpg);
    background-size: cover;
    overflow: hidden;
}

.secondary-deals{
    background-image: url(../images/bow-tie-fashion-man-person.jpg);
}